---
layout: landing
---
<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.description | markdownify }}</p>
		<ul class="actions">
			<li><a href="#" class="button special">Formation</a></li>
			<li><a href="fr/mentoring/" class="button special">Mentoring</a></li>
			<li><a href="#" class="button special">Développement</a></li>
			<li><a href="#" class="button special">Conseil</a></li>
		</ul>
	</div>
	{% include social.html %}
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">	
	<div class="inner">
		<h3>Me contacter</h3>
		<form action="//formspree.io/hello@crafting-labs.com" method="POST">
			<div class="row uniform">
				<div class="12u$">
					<input name="_subject" id="_subject" type="text" size="30" maxlength="255" value="" placeholder="Sujet" />
				</div>

				<div class="12u$">
					<textarea name="message" id="message" cols="35" rows="6" placeholder="Enter your message"></textarea>
				</div>

				<div class="6u 12u$(xsmall)">		  
					<input type="text" name="name" maxlength="255" value="" placeholder="Nom"/>
				</div>
				<div class="6u$ 12u$(xsmall)">
					<input type="email" name="_replyto" maxlength="255" value="" placeholder="Email" />
				</div>
				<input type="text" name="_gotcha" style="display:none" />
				<input type="hidden" name="_next" value="/merci/" />

				<div class="12u$">
					<ul class="actions">
						<li><input type="submit" value="Envoyer" class="special"></li>
						<li><input type="reset" value="Reset" /></li>
					</ul>
				</div>
			</div>
		</form>
	</div>
</section>