<!-- Footer -->
<footer id="footer">
  {% include social.html %}

  <ul class="copyright">
    <li>Design by <a href="http://html5up.net">HTML5 UP</a></li>
    <li>Built with <a href="http://jekyllrb.com" target="_blank">Jekyll</a></li>
  </ul>
</footer>