<ul class="icons">
    {% if site.email %}
    <li>
        <a href="mailto:{{ site.email }}" title="{{ site.email }}" class="icon">
            <span class="fa-stack fa-lg">
                <i class="fas fa-envelope fa-stack-1x"></i>
            </span>
        </a>
    </li>
    {% endif %}

    {% if site.social.blog %}
    <li>
        <a href="{{ site.social.blog }}" title="Blog" class="icon">
        <span class="fa-stack fa-lg">
            <i class="fas fa-newspaper fa-stack-1x"></i>
        </span>
        </a>
    </li>
    {% endif %}

    {% if site.social.twitter %}
    <li>
        <a href="{{ site.social.twitter }}" title="Twitter" class="icon">
        <span class="fa-stack fa-lg">
            <i class="fab fa-twitter fa-stack-1x"></i>
        </span>
        </a>
    </li>
    {% endif %}

    {% if site.social.gitlab %}
    <li>
        <a href="{{ site.social.gitlab }}" title="Gitlab" class="icon">
        <span class="fa-stack fa-lg">
            <i class="fab fa-gitlab fa-stack-1x"></i>
        </span>
        </a>
    </li>
    {% endif %}

    {% if site.social.github %}
    <li>
        <a href="{{ site.social.github }}" title="GitHub" class="icon">
        <span class="fa-stack fa-lg">
            <i class="fab fa-github fa-stack-1x"></i>
        </span>
        </a>
    </li>
    {% endif %}

    {% if site.social.linkedin %}
    <li>
        <a href="{{ site.social.linkedin }}" title="LinkedIn" class="icon">
        <span class="fa-stack fa-lg">
            <i class="fab fa-linkedin fa-stack-1x"></i>
        </span>
        </a>  
    </li>
    {% endif %}
</ul>