<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="landing">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

      {{ content }}

      {% include footer.html %}

      {% include scripts.html %}

    </div>

  </body>

</html>